/* ——— BG da página Dashboard ——— */
.dashboardWrapper {
  background-color: var(--byte-bg-dashboard);
  min-height: 100vh;
  padding: 2rem;
}

/* Layout de colunas (Saldo + Transação | Extrato) */
.layout {
  display: flex;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.rightColumn {
  flex: 1 1 100%;
  max-width: 100%;
}
