/* =======================
  Import Tailwind e fontes
   ======================= */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* ==========================
      Variáveis e reset padrão
      ========================== */
:root {
  /* ===== Cores Base ===== */
  --byte-bg-default: #ffffff;
  --byte-bg-dashboard: #E4EDE3;
  --byte-text-medium-gray: #767676;
  --byte-color-black: #000000;
  --byte-color-dash:#004D61;
  --byte-color-neutral-600: #8b8b8b;
  --byte-color-green-50: rgba(71,161,56,.5);

  /* ===== Cores Utilitárias ===== */
  --byte-color-error: #bf1313;
  --byte-color-red-500: #bd3737;
  --byte-color-orange-500: #ff5031;
  --byte-color-orange-300: #f1823d;
  --byte-color-green-500: #47a138;
  --byte-color-green-100: #f8f8f8;
  --byte-color-blue-500: #2567f9;
  --byte-color-purple-500: #8f3cff;
  --byte-color-magenta-500: #ff3c82;

  --byte-gray-100: #dee9ea;
  --byte-gray-200: #cbcbcb;
  --byte-gray-800: #444444;

  --byte-gradient-green: linear-gradient(90deg, #1ec88d 0%, #58fcb4 100%);
  --byte-gradient-teal: linear-gradient(180deg, #004d61 0%, #ffffff 100%);

  /* ===== Tipografia ===== */
  --font-inter: "Inter", sans-serif;

  --text-xs: 14px;
  --text-sm: 16px;
  --text-base: 18px;
  --text-md: 20px;
  --text-lg: 25px;
  --text-xl: 28px;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --line-height-tight: 100%;
  --line-height-normal: 120%; /* use essa como padrão */
  --letter-spacing-none: 0%; /* tracking */
  --vertical-align-middle: middle;

  /* ===== Background/Texto padrão ===== */
  --background: var(--byte-bg-default);
  --foreground: var(--byte-color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151414;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
}

/* 
      ============================
      Banner Title (h1 do banner)
      ============================
   */
.banner-title {
  font-family: var(--font-inter);
  font-weight: var(--font-semibold);
  font-size: var(--text-xl);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-none);
  vertical-align: var(--vertical-align-middle);
  color: var(--byte-color-black);
}

/* 
      ===========================
      Título "Vantagens do nosso banco"
      =========================== 
*/
.banner-title-mobile {
  font-family: var(--font-inter);
  font-weight: var(--font-bold);
  font-size: var(--text-lg);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-none);
  vertical-align: var(--vertical-align-middle);
  color: var(--byte-color-black);
}

/* 
      ===========================
      Título "Vantagens do nosso banco"
      =========================== */
.vantagem-title {
  font-family: var(--font-inter);
  font-weight: var(--font-bold);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-none);
  text-align: center;
  vertical-align: var(--vertical-align-middle);
}

/* 
      ===========================
      Descrição das vantagens
      (ex.: "Isso mesmo, nossa conta é digital...", etc.)
      =========================== */
.vantagem-description {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-none);
  vertical-align: var(--vertical-align-middle);
}


/* Adicione no seu CSS global */
@media (min-width: 1024px) { /* Desktop */
  .card-saldo,
  .cardTransacao {
    width: 690px !important;
  }
  .cardExtrato {
    width: 282px !important;
  }

}

@media (min-width: 768px) and (max-width: 1024px) { /* Tablet */
  .card-saldo,
  .cardTransacao,
  .cardExtrato {
    width: 100% !important; /* pode manter 100% ou o valor desejado */
  }

}

@media (max-width: 767px) { /* Celular - responsivo completo */
  .card-saldo,
  .cardTransacao,
  .cardExtrato {
    width: 100% !important; /* pode manter 100% ou o valor desejado */
  }
}

