.header {
  background-color: var(--byte-color-black) !important;
}

.toolbarOverride {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.menuItemText {
  color: var(--byte-color-green-500) !important;
}

.mobileMenuItemText {
  color: var(--byte-color-green-500) !important;
}

.openAccountButton {
  background-color: var(--byte-color-green-500) !important;
  color: #ffffff !important;
}

.loginButton {
  background: transparent !important;
  border: 2px solid var(--byte-color-green-500) !important;
  color: var(--byte-color-green-500) !important;
}
