
.header {
  /* sem background aqui */
  box-shadow: none;
}

// .bg-dash {
//   background-color: var(--byte-color-dash);
// }

// .bg-black {
//   background-color: var(--byte-color-black);
// }

.toolbarOverride {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.menuItemText {
  color: var(--byte-color-green-500) !important;
  text-transform: none !important;
}

.mobileMenuItemText {
  color: var(--byte-color-green-500) !important;
}

.openAccountButton {
  background-color: var(--byte-color-green-500) !important;
  color: #ffffff !important;
}

.loginButton {
  background: transparent !important;
  border: 2px solid var(--byte-color-green-500) !important;
  color: var(--byte-color-green-500) !important;
  text-transform: none !important;
}
