.footer {
  background:var(--byte-color-black);
  color: #fff;
  padding: 2.5rem; // ajuste conforme necessário
  font-size: 0.75rem; // equivalente ao text-xs do Tailwind
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}